/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

header{
  padding-top: 30px;
  background-color: RGBA(39, 40, 34, 1.00);
  background-size: 100px 10000px;
  background-image: url('../../img/geo.png');
}

.space-container{
  padding-top: 50px;
  min-height: 600px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */


.jumbotron {
  text-align: center;
  background: none;
  margin-bottom: 0;
  margin: none;
  min-width: 100px;
}

.jumbotron h1{
  background-color: RGBA(39, 40, 34, 1.00);
  color: rgba(240,190,64,1);
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 6rem;
  font-family: 'Monoton', cursive;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px){
  .jumbotron {
    padding-top: 28px;
    padding-bottom: 48px;
  }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 100px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-inner{
  border: 2px solid gold;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption .btn {
  background-color: RGBA(39, 40, 34, 1.00);
  color: white;
  border: none;
}

img .slides{
  height: 500px;
  min-width: 100%
}

/*.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline;
    width: 100%;
    height: 100%;
}*/

/* NEWSLETTER */

.newsletter{
  text-align: center;
  background-color: RGBA(39, 40, 34, 1.00);
  background-size: 100px 10000px;
  background-image: url('../../img/geo.png');
  padding-top: 90px;
  padding-bottom: 90px;
}

.newsletter h2{
  color: white;
  background-color: none;
}

.newsletter p{
  color: white;
  font-size: 16px;
}

.newsletter a{
  color: rgba(240,190,64,1);
}

.newsletter a :hover{
  color: rgba(240,190,64,1);
}

.newsletter .btn-default {
  color: white;
  background-color: RGBA(51, 51, 51, 1.00);
  border-color: RGBA(51, 51, 51, 1.00);
}



.input-group .form-control {
  z-index: 2;
  width: 200px;
  margin-bottom: 0;
}

.inscription{
    background: RGBA(147,128,78,0.6);
    padding: 10px;
    box-shadow: inset 0 0 10px RGBA(0, 0, 0, 0.7);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing{
  padding-right: 0px;
  padding-left: 0px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.titleAnnonces{
  padding: 40px 15px;
  text-align: center;
  font-size: 40px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* FORUM
-------------------------------------------------- */
.container .forum{
  padding: 40px;
  background: RGBA(39, 40, 34, 1.00);
}

.tableau{
  background-color: black !important;
  border: solid 1px gold;
  border-radius: 5px;
}

.forum h2{
  font-size: 3em;
  text-align: center;
  padding: 50px;
  color: RGBA(238, 181, 56, 1.00);
}

.forum h4{
  font-size: 20px;
  color: white;
}

.forum>a{
  font-size: 20px;
  color: white !important;
}

.forum >span{
  color: gold;
  background-color: white;
  border-color: none;
}

.line{
  background-color: white;
  height: 1px;
  margin: 25px;
}

.table{
  background-color: black;
  color: white
}

.divTableCell{
  margin: 20px;
}


/* AGENDA
-------------------------------------------------- */

.agenda h2{
  font-size: 60px;
  text-align: center;
  padding: 50px;
  color: RGBA(51, 51, 51, 1.00);
}

/* PARTENAIRES
-------------------------------------------------- */

.partenaires{
  background-color: black;
  background-size: 100px 10000px;
  background-image: url('../../img/geo.png');
}

.partenaires h2{
  color: white;
  font-size: 60px;
}

.partenaires p{
  color: white;
  font-size: 15px;
}

/* SOCIAL MEDIA
-------------------------------------------------- */

.social {
  text-align: center;
  background-color: RGBA(39, 40, 34, 1.00);
}

.social h2{
  padding: 20px;
}

.reseaux{
  margin: 40px;
  margin-bottom: 20px;
  background-color: RGBA(39, 40, 34, 1.00);
  border-radius: 10px 10px;
}

.reseaux i{
  letter-spacing: 20px;
  color: rgba(240,190,64,1);
  padding-bottom: 10px;
}

#triangle-code{
 display : inline-block;
 height : 0;
 width : 0;
 border-top : 150px solid RGBA(51, 51, 51, 1.00);
 border-right : 150px solid transparent;
}

.lead{
  font-family: monoton !important;
}

/* FOOTER
-------------------------------------------------- */

footer{
  background-color: RGBA(39, 40, 34, 1.00);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer h4{
  color: rgba(240,190,64,1);
}

footer p{
  color: white;
}

footer span{
  color: white;
}

.footMargin{
  margin: 0px;
  padding-top: 20px;
}

.contactFooter{
  padding-top: 60px;
  min-height: 617px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

.featurette-heading {
  font-size: 50px;
}

#payment_form{
  margin-bottom: 50px;
}

@media all and (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*Tables*/

@media all and (max-device-width: 480px)
{
  .small
  {
    width: 100%;
  }
  table thead
  {
    display: none;
  }

  table tr
  {
    display: block;
    margin-top: 5px;
    padding-bottom:5px;
    border-bottom: 2px solid #FF5733;
  }

  table td
  {
    display: block;
    text-align: right;
    font-size: 13px;
    border-radius:5px;
    margin-bottom:1px;
    min-height: 14px
  }
  
}

/*Suivi*/

.suivi{
  padding-top: 20px;
  font-family: monoton;
}

/*Recherche*/

.result{
  background: RGBA(51, 51, 51, 1.00);
  color: RGBA(230, 230, 230, 1.00);
  margin-bottom: 25px;
  margin-top: 25px;
}

.result h1{
  color: white;
}

.result span{
  color : RGBA(242, 189, 87, 1.00);
}

.result a{
  color: RGBA(242, 189, 87, 1.00);
}

.result p{
  padding: 5px;
}

.result h4{
  padding-top: 10px;
  margin-left: 5px;
  color: white;
}

/*Page 404*/

.padContainer{
  padding-top: 20px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline;
    max-width: 100%;
    height: auto;
}