{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
<h1>searchresults motherfucker !</h1>

<h2>{{ nbResultats }} résultat{% if nbResultats > 1 %}s{% endif %} pour <b>"{{ searchText }}"</b></h2>

{% for result in results %}
	<p>{{ result | balise }}</p>
{% endfor %}














{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}

