{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
<h1>searchresults motherfucker !</h1>














{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}

