

<!-- menu shop -->
<nav class="menu font-heading">
	<ul>
		<li {% if active == 'accueil' %} class="current" {% endif %}  style="margin-left:20px;margin-right:20px;"><a href="{{ url('accueil') }}" >accueil</a></li>
		{% for category in categories %}
			<li {% if active == category.category_name|lower %} class="current" {% endif %} style="margin-left:20px;margin-right:20px;"><a href="{{ url('categorie', {'category_name': category.category_name|lower}) }}">{{ category.category_name }}</a></li>
		{% endfor %}
	</ul>
</nav>