.headerNewTopic{
  padding-top: 100px;
}

.logo{
  letter-spacing: 1px;
  font-family: 'Monoton', cursive;
}

.lead{
  font-family: monoton;
  color: RGBA(242, 189, 87, 1.00);
}

  .itemForm{
    border: solid 1px black;
    padding: 10px;
    margin: 5px;
  }