.headerTopic{
  padding-top: 50px;
}

.logo{
  letter-spacing: 1px;
  font-family: 'Monoton', cursive;
}

.lead{
  font-family: monoton;
  color: RGBA(242, 189, 87, 1.00);
}

  .thumbnail {
    padding: 5px;
  }

  .btn-primary{
    padding: 1px;
  }

  h1{
    font-family: monoton;
  }

  .btn-primary {
    color: #fff;
    background-color: RGBA(242, 189, 87, 1.00);
    border-color: RGBA(242, 189, 87, 1.00);
  }

h2{
  font-size: 1.5em;
}

.topicPost{
  background: RGBA(51, 51, 51, 1.00);
  padding: 10px;
  color: RGBA(230, 230, 230, 1.00);
}