/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-default {
  background-color: black !important;
  border-color: RGBA(51, 51, 51, 1.00);
}
.navbar-default .navbar-brand {
  color: rgba(240,190,64,1);
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  color: rgba(240,190,64,1);
}
.navbar-default .navbar-nav>a, .navbar-default .navbar-nav>a:focus, .navbar-default .navbar-nav>a:hover {
  color: white;
  background-color: RGBA(51, 51, 51, 1.00);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}
.dropdown-menu {
  background-color: black;
  border-top: none;
}
.dropdown-menu>li>a{
  color: white;
}
.logo{
  letter-spacing: 1px;
  font-family: 'Monoton', cursive;
}

@media all and (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
