{% extends 'defaultLayout.html.twig' %}

{# fil d'ariane #}
{% set active = 'accueil' %}

	{# titre de la page #}
	{% block title %}
		Street Connexion
	{% endblock %}



	{% block contenu %}
		<h1>Take a ride, mother fucker !</h1>




		{% for product in products %}


			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<h5><a href="{{ url('article', {'category_name': product.category_name|lower , 'slugproduct':product.name|slug , 'ID_product':product.ID_product}) }}">{{ product.name }}</a></h5>
				</div>
			</div>


		{% endfor %}





		{% for topic in topics %}


			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<h5><a href="#">{{ topic.title }}</a></h5>
				</div>
			</div>


		{% endfor %}


		{% for event in events %}


			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<h5><a href="#">{{ event.event_title }}</a></h5>
				</div>
			</div>


		{% endfor %}














	{% endblock %}