<!-- SOCIAL MEDIA -->
<div class="container-fluid social col-xs-12">
	<div class="container">
		<div class="row">
			<div class="reseaux">

				<h2>Rejoignez notre communauté</h2>

				<a href="https://fr-fr.facebook.com/" target=_blank>
					<i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
				</a>
				<a href="https://www.instagram.com/?hl=fr" target=_blank>
					<i class="fa fa-camera-retro fa-4x"></i>
				</a>
				<a href="https://twitter.com/?lang=fr" target=_blank>
					<i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
				</a>
				<a href="https://www.youtube.com/?hl=fr&gl=FR" target=_blank>
					<i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i>
				</a>

			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer class="container-fluid col-xs-12">
	<div class="container">
		<div class="row">
			<a href="{{ url('about') }}"><h4 class="col-md-3">à propos</h4></a>
			<a href="{{ url('contact_page') }}"><h4 class="col-md-3">contact</h4></a>
			<a href="{{ url('conditions_page') }}"><h4 class="col-md-3">terms</h4></a>
			<a href="{{ url('faq') }}"><h4 class="col-md-3">faq</h4></a>
		</div>
		
		<br>
		<p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017</p>
	</div>
</footer>