<!-- SOCIAL MEDIA -->
<div class="container-fluid social col-xs-12">
	<div class="container">
		<div class="row">
			<div class="reseaux">

				<h2>Rejoignez notre communauté</h2>
				<i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
				<i class="fa fa-camera-retro fa-4x"></i>
				<i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
				<i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i>

			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer class="container-fluid col-xs-12">
	<div class="container">
		<div class="row">
			<a href="#"><h4 class="col-md-3">à propos</h4></a>
			<a href="#"><h4 class="col-md-3">contact</h4></a>
			<a href="#"><h4 class="col-md-3">terms</h4></a>
			<a href="#"><h4 class="col-md-3">faq</h4></a>
		</div>
		<a><span class="glyphicon glyphicon-hand-up aria-hidden="true""></span></a>
		<br>
		<p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017</p>
	</div>
</footer>