{% extends 'defaultLayout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/forumIndex.css')}}">
{% endblock %}

{% block header %}
	{{render(controller('Application\\Controller\\IncludeController::menuAction'))}}
{% endblock %}

{% block contenu %}

	<!-- include menu -->

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-md-8">
				<h1 class="my-4">Forum</h1>
				<!-- Blog Post -->
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">Post Title</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
					<div class="card-footer text-muted">
						Posted on January 1, 2017 by
						<a href="#">User 1</a>
					</div>
				</div>

				<!-- Pagination -->
				<ul class="pagination justify-content-center mb-4">
					<li class="page-item">
						<a class="page-link" href="#">&larr; Older</a>
					</li>
					<li class="page-item disabled">
						<a class="page-link" href="#">Newer &rarr;</a>
					</li>
				</ul>
			</div>

			<!-- Sidebar Widgets Column -->
			<div class="col-md-4">
				<div class="card my-4">
					<h5 class="card-header">Profil</h5>
					<div class="card-body">
						<div class="input-group">
							<div class="text-center mb-4">
								<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/100x100" alt="">
								<br>
								<h4>User Name</h4>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
								<span>
									<button class="btn btn-success" type="button">Profil</button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="card my-4">
					<h5 class="card-header">Contribuez</h5>
					<div class="card-body">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-success" type="button">Ajoutez un post</button>
							</span>
						</div>
					</div>
				</div>

				<!-- Search Widget -->
				<div class="card my-4">
					<h5 class="card-header">Search</h5>
					<div class="card-body">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>

				<!-- Side Widget -->
				<div class="card my-4">
					<h5 class="card-header">Publicité</h5>
					<div class="card-body">
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{# include footer #}
	{% block footer %}
		{% include 'commerce/footer.html.twig' %}
	{% endblock %}
