{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
	<div  class="alert alert-danger" style="font-size: 4em; display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column">
		<p>403 FORBIDDEN</p><br/>
		<a href="{{ url('accueil') }}">Accueil</a>
	</div>
{% endblock %}